body {
    background-image: url("../images/prismbg.png");
}

.display-4 {
    margin: 0 auto;
    font-family: "Gloria Hallelujah";
    letter-spacing: 2px;
    /* color: #38C9ED; */
    /* color: #F36FAD; */
    color: palevioletred;
}

#resetButton {
    cursor: url("../images/pointer.png"), auto;
}

#resetButton:hover {
    box-shadow: 2px 3px 7px #8f8e8e;
    border: 1px solid #38C9ED;
}

.header {
    padding: 10px;
    font-family: "Gloria Hallelujah";
    font-size: 30px;
}

.playerScore {
    font-family: "Gloria Hallelujah";
    font-size: 30px;
    top: 175px;
    text-align: center;
}

.score {
    font-family: "Gloria Hallelujah";
    font-size: 20px;
    top: 200px;
    text-align: center;
}

#gemScore {
    font-display: bold;
    color: turquoise;
}

.directions p {
    font-family: "Markazi Text";
    font-size: 20px;
    letter-spacing: 2px;
    position: absolute;
    top: 200px;
    padding: 5px;
    text-align: center;
}

.gemImage {
    cursor: url("../images/pointer.png"), auto;
    position: relative;
    top: 75px;
}
